@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
img{display: block;}
#bgvideo{
    min-width:100%; 
    min-height:100vh;
    position: fixed;
    width:auto;
    height:auto;
    z-index: -999;
}

.title{
    color: #fff;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}

