
#bgvideo{
    min-width:100%; 
    min-height:100vh;
    position: fixed;
    width:auto;
    height:auto;
    z-index: -999;
}

.title{
    color: #fff;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}

.gnb{
    padding-top: 30px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}

